.DS_Store
node_modules/
dist/build.js
dist/build.js.map
dist/logo.png
dist/main.js
dist/server.js
dist/controllers
npm-debug.log
yarn-error.log

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
